
body{
    font-family: 'Roboto-Regular';
}

section.todo-outer {
    width: 100%;
    float: left;
    padding: 30px 0;
}
h1, h4{
    text-align: center;
}


h4{
    text-align: center;
    margin-top: 4em;
}


section.todo-outer h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.todo-inner {
    width: 100%;
    float: left;
    padding: 40px;
    box-shadow: 0px 0px 10px #c1c1c1;
    background: #fff;
}
table tr td button {
    background: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
}


#connect-form{
    margin: auto;
    width: 40%;
}


input.invalid {
    border: 1px solid red;
    

}

input.valid {
    border: 1px solid forestgreen;
}

textarea.invalid {
    border: 1px solid red;
    
}

textarea.valid {
    border: 1px solid forestgreen;
}


